*{
    padding: 10;
    margin: 10;
    /*border: solid 1px;*/
   
}
body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header #logo{
    padding: 25px;
    float: inline-start;
    text-align: center;
}

header #menu  a{
    color:white;
    text-decoration: none;
    vertical-align: middle;
 

}
header #menu {
    display: inline-block;
    padding: 10px 950px 10px 40px;
    background-color: rgb(0, 88,131);
    text-align: center;
    word-spacing: 100px;
      
}
#main-container header main .text h1{
    text-align: center;
    font-size: 50px;
    color:rgb(0, 88,131) ;
}
.text{
    margin-left:30px;
    margin-right:500px ;
}
aside{
     float: right;
     font-size: 5px;
     margin-right:100px;
}
.titulo{
    font-size: larger;
    text-align: center;
    color:rgb(0, 88,131);
}
section{
    margin-left:20px;
    margin-right:200px ;
}
.image{
    margin: 30px auto;
}
header #butt{
    background-color: cornflowerblue;
    color: white;
    border-radius: 30px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}
.fond{
    text-align: center;
}
.aut{
 text-align: left;
 margin-left: 50px;
 padding: 30px;
}
.datos{
    margin-left:20px;
    margin-right:200px ;
}