*{
    padding: 10;
    margin: 10;
    /*border: solid 1px;*/
   
}
body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header #logo{
    padding: 25px;
    float: inline-start;
    text-align: center;
}
.navegacion{
  width: 1500px;
  margin: 30px auto;
  background-color: rgb(0, 88,131);
}
.navegacion ul{
    list-style: none;
}
.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    color:white;
    padding: 15px 50px;
    text-decoration: none;
}
.menu li a:hover{
    background-color:rgb(2, 10, 87);
    transition: all ;
}
.submenu{
    position: absolute;
    background-color: rgb(0, 88,131);
    width: 100%;
    display: none;
}
.submenu li a{
    display: block;
    padding: 5px;
    color:white;
    text-decoration: none;
}
.menu li:hover .submenu{
 display: block;
}
#main-container header main .text h1{
    text-align: center;
    font-size: 50px;
    color:rgb(0, 88,131) ;
}
.text{
    margin-left:20px;
    margin-right:200px ;
}
aside{
     float: right;
     font-size: 5px;
     margin-right:100px;
}
.titulo{
    font-size: larger;
    text-align: center;
    color:rgb(0, 88,131);
}
section{
    margin-left:20px;
    margin-right:200px ;
}
.image{
    margin: 30px auto;
}
header #butt{
    background-color: cornflowerblue;
    color: white;
    border-radius: 30px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}
.fond{
    text-align: center;
}
.aut{
 text-align: left;
 margin-left: 150px;
 padding: 30px;
 
}
.datos{
    margin-left:150px;
    margin-right:200px ;
    padding: 50px 0px 50px 0px;
}
.video{
    text-align: center;
    padding: 10px;
}
.play{
    text-align: center;
}
.pie{
 text-align: center;
 padding: 10px 50px 10px 20px;
}
